@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



@*<img src="/images/spinner-whitebg-grayfg.gif">*@

<div id="CommentPanel" data-url="/comment" />

<script>
    comment_sdk.load("CommentPanel");
</script>